<ion-header>
  <ion-toolbar>
    <ion-title>Task Posting</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">Home</ion-button>
      <ion-button [routerLink]="['/chat']">Chat</ion-button>
      <ion-button *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</ion-button>
      <ion-button *ngIf="!isLoggedIn" [routerLink]="['/register']">Register</ion-button>
      <ion-button *ngIf="isLoggedIn" (click)="logout()">Logout</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="userRole === 'Tutor'" (ngSubmit)="postTask()">
    <ion-item>
      <ion-label position="floating">Title</ion-label>
      <ion-input [(ngModel)]="task.title" name="title" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="task.description" name="description" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!task.title || !task.description">Post Task</ion-button>
  </form>

  <ion-list *ngIf="tasks.length === 0">
    <ion-item>
      <ion-label>No tasks available</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="tasks.length > 0">
    <ion-item *ngFor="let task of tasks">
      <ion-label>
        <h2>{{ task.title }}</h2>
        <p>{{ task.description }}</p>
        <p>Posted By: {{ task.userName }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
